{% set created_date = node.getCreatedTime|date("Y/m/d") %}
{{ attach_library('classy/node') }} {# apply classy theme to node#}
{{ attach_library('islandora_rdm/search') }} {# attach the library declared in the .libraries.yml file to the page when a search result is displayed.#}

{# Format Creator (PublicationYear): Title. Publisher. (resourceTypeGeneral). Identifier #}
<h2 class="rdm-dataset-search-result-title">
    {{ node.field_rdm_creator.0.entity.field_rdm_personal_name.value }}
    ({{ node.field_rdm_publication_year.value }}):
    <a href="{{ url }}" class="node__title-link">{{- label -}}</a>.
    {% if  node.field_rdm_publisher.0.entity.field_rdm_organization_name %}
        {{ node.field_rdm_publisher.0.entity.field_rdm_organization_name.value }}.
    {% endif %}
    {{ node.field_rdm_resource_type_general.value }}.
    {% if node.field_islandora_rdm_identifier.value %}
        <a href="https://doi.org/{{ node.field_islandora_rdm_identifier.value }}">{{ "https://doi.org/" }}{{ node.field_islandora_rdm_identifier.value }}</a>
    {% endif %}
</h2>

<p>{{ rdm_abstract }}</p>
<p>
    {% for subject in node.field_subjects [0:3] %}
        <span class="label search-result-subject">{{ subject.value }}</span>
    {% endfor %}

    <br/>
    {% if node.field_rdm_license.entity.field_license_link.0.url %}
        <a href="{{ node.field_rdm_license.entity.field_license_link.0.url }}"><img class="search-result-license-image"
                                                                                    src="{{ file_url(node.field_rdm_license.entity.field_license_icon.entity.fileuri) }}"
                                                                                    alt="access right"> </a>

    {% endif %}
    <span class="label search-result-created-date"> Uploaded on {{ created_date }}</span>
</p>
