   
{% set created_date = node.getCreatedTime|format_date('umami_dates') %}
{{ attach_library('classy/node') }} {# apply classy theme to node}
                                    
{# Format Creator (PublicationYear): Title. Publisher. (resourceTypeGeneral). Identifier #}
<h2 class= "rdm-dataset-search-result-title">
    {{ node.field_rdm_creator.0.entity.field_rdm_personal_name.value }} 
    ({{ node.field_rdm_publication_year.value }}):  
    <a href="{{url}}"class="node__title-link">{{- label -}}</a>. 
    {{ node.field_rdm_publisher.0.entity.field_rdm_organization_name.value }}. 
    {{ node.field_rdm_resource_type_general.value }}. 
    <a href="https://doi.org/{{node.field_islandora_rdm_identifier.value}}">{{ node.field_islandora_rdm_identifier.value }}</a></h2>
    
<p>{{ rdm_abstract }}</p>

<p><span class= "search-result-subject">{{ node.field_subjects.value }}  </span>
   <span class= "search-result-rights">{{ node.field_rights.value }}  </span>
   <span class= "search-result-created-date">{{ created_date }}</span></p>




